<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bewweb.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="cn.bewweb.entities.Address" >
    <id column="addr_id" property="addrId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="isDefault" property="isdefault" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    addr_id, user_id, user_name, tel, info, isDefault
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from trade_address
    where addr_id = #{addrId,jdbcType=BIGINT}
  </select>
  
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from trade_address 
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from trade_address
    where addr_id = #{addrId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.bewweb.entities.Address" >
    insert into trade_address (addr_id, user_id, user_name, 
      tel, info, isDefault)
    values (#{addrId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{isdefault,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.bewweb.entities.Address" >
    insert into trade_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addrId != null" >
        addr_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="isdefault != null" >
        isDefault,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addrId != null" >
        #{addrId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null" >
        #{isdefault,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bewweb.entities.Address" >
    update trade_address
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null" >
        isDefault = #{isdefault,jdbcType=CHAR},
      </if>
    </set>
    where addr_id = #{addrId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bewweb.entities.Address" >
    update trade_address
    set user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      isDefault = #{isdefault,jdbcType=CHAR}
    where addr_id = #{addrId,jdbcType=BIGINT}
  </update>
</mapper>