<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bewweb.dao.CSystemMapper">
	<resultMap id="BaseResultMap" type="cn.bewweb.entities.CSystem">
		<id column="system_id" property="systemId" jdbcType="BIGINT" />
		<result column="startup_datetime" property="startupDatetime"
			jdbcType="TIMESTAMP" />
		<result column="today_Visite" property="todayVisite" jdbcType="INTEGER" />
		<result column="all_vised" property="allVised" jdbcType="BIGINT" />
		<result column="shutdown_datetime" property="shutdownDatetime"
			jdbcType="TIMESTAMP" />
		<result column="log_path" property="logPath" jdbcType="VARCHAR" />
		<result column="server_ip" property="serverIp" jdbcType="VARCHAR" />
		<result column="domain_name" property="domainName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		system_id, startup_datetime, today_Visite, all_vised, shutdown_datetime,
		log_path,
		server_ip, domain_name
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from control_system
		where system_id = #{systemId,jdbcType=BIGINT}
	</select>

	<select id="find" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from control_system
		<where>
			<if test="param1 !=null and param1.systemId != null">
				system_id = #{param1.systemId}
			</if>
			<if test="param1 !=null and param1.startupDatetime != null">
				and startup_datetime = #{param1.startupDatetime}
			</if>
			<if test="param1 !=null and param1.todayVisite != null">
				and today_Visite = #{param1.todayVisite}
			</if>
			<if test="param1 !=null and param1.allVised != null">
				and all_vised = #{param1.allVised}
			</if>
			<if test="param1 !=null and param1.shutdownDatetime != null">
				and shutdown_datetime = #{param1.shutdownDatetime}
			</if>
			<if test="param1 !=null and param1.logPath != null">
				and log_path = #{param1.logPath}
			</if>
			<if test="param1 !=null and param1.serverIp != null">
				and server_ip = #{param1.serverIp}
			</if>
			<if test="param1 !=null and param1.domainName != null">
				and domain_name = #{param1.domainName}
			</if>
		</where>
		limit #{1},#{2}
	</select>


	<select id="findAndeOrderBy" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from control_system
		<where>
			<if test="param1 !=null and param1.systemId != null">
				system_id = #{param1.systemId}
			</if>
			<if test="param1 !=null and param1.startupDatetime != null">
				and startup_datetime = #{param1.startupDatetime}
			</if>
			<if test="param1 !=null and param1.todayVisite != null">
				and today_Visite = #{param1.todayVisite}
			</if>
			<if test="param1 !=null and param1.allVised != null">
				and all_vised = #{param1.allVised}
			</if>
			<if test="param1 !=null and param1.shutdownDatetime != null">
				and shutdown_datetime = #{param1.shutdownDatetime}
			</if>
			<if test="param1 !=null and param1.logPath != null">
				and log_path = #{param1.logPath}
			</if>
			<if test="param1 !=null and param1.serverIp != null">
				and server_ip = #{param1.serverIp}
			</if>
			<if test="param1 !=null and param1.domainName != null">
				and domain_name = #{param1.domainName}
			</if>
		</where>
		order by #{1}
		limit #{2},#{3}
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from control_system
		where system_id = #{systemId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.bewweb.entities.CSystem">
		insert into control_system (system_id, startup_datetime, today_Visite,
		all_vised, shutdown_datetime, log_path,
		server_ip, domain_name)
		values (#{systemId,jdbcType=BIGINT}, #{startupDatetime,jdbcType=TIMESTAMP},
		#{todayVisite,jdbcType=INTEGER},
		#{allVised,jdbcType=BIGINT}, #{shutdownDatetime,jdbcType=TIMESTAMP}, #{logPath,jdbcType=VARCHAR},
		#{serverIp,jdbcType=VARCHAR}, #{domainName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.bewweb.entities.CSystem">
		insert into control_system
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="systemId != null">
				system_id,
			</if>
			<if test="startupDatetime != null">
				startup_datetime,
			</if>
			<if test="todayVisite != null">
				today_Visite,
			</if>
			<if test="allVised != null">
				all_vised,
			</if>
			<if test="shutdownDatetime != null">
				shutdown_datetime,
			</if>
			<if test="logPath != null">
				log_path,
			</if>
			<if test="serverIp != null">
				server_ip,
			</if>
			<if test="domainName != null">
				domain_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="systemId != null">
				#{systemId,jdbcType=BIGINT},
			</if>
			<if test="startupDatetime != null">
				#{startupDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="todayVisite != null">
				#{todayVisite,jdbcType=INTEGER},
			</if>
			<if test="allVised != null">
				#{allVised,jdbcType=BIGINT},
			</if>
			<if test="shutdownDatetime != null">
				#{shutdownDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="logPath != null">
				#{logPath,jdbcType=VARCHAR},
			</if>
			<if test="serverIp != null">
				#{serverIp,jdbcType=VARCHAR},
			</if>
			<if test="domainName != null">
				#{domainName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.bewweb.entities.CSystem">
		update control_system
		<set>
			<if test="startupDatetime != null">
				startup_datetime = #{startupDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="todayVisite != null">
				today_Visite = #{todayVisite,jdbcType=INTEGER},
			</if>
			<if test="allVised != null">
				all_vised = #{allVised,jdbcType=BIGINT},
			</if>
			<if test="shutdownDatetime != null">
				shutdown_datetime = #{shutdownDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="logPath != null">
				log_path = #{logPath,jdbcType=VARCHAR},
			</if>
			<if test="serverIp != null">
				server_ip = #{serverIp,jdbcType=VARCHAR},
			</if>
			<if test="domainName != null">
				domain_name = #{domainName,jdbcType=VARCHAR},
			</if>
		</set>
		where system_id = #{systemId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.bewweb.entities.CSystem">
		update control_system
		set startup_datetime = #{startupDatetime,jdbcType=TIMESTAMP},
		today_Visite = #{todayVisite,jdbcType=INTEGER},
		all_vised = #{allVised,jdbcType=BIGINT},
		shutdown_datetime = #{shutdownDatetime,jdbcType=TIMESTAMP},
		log_path = #{logPath,jdbcType=VARCHAR},
		server_ip = #{serverIp,jdbcType=VARCHAR},
		domain_name = #{domainName,jdbcType=VARCHAR}
		where system_id = #{systemId,jdbcType=BIGINT}
	</update>
</mapper>