<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bewweb.dao.ProofResultMapper" >
  <resultMap id="BaseResultMap" type="cn.bewweb.entities.ProofResult" >
    <id column="proof_result_id" property="proofResultId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="session_id" property="sessionId" jdbcType="VARCHAR" />
    <result column="proof_name" property="proofName" jdbcType="VARCHAR" />
    <result column="proof_value" property="proofValue" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="radices" property="radices" jdbcType="INTEGER" />
    <result column="rating" property="rating" jdbcType="REAL" />
    <result column="weight" property="weight" jdbcType="REAL" />
    <result column="record_time" property="recordTime" jdbcType="DATE" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    proof_result_id, user_id, session_id, proof_name, proof_value, count, radices, rating, 
    weight, record_time, note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from control_proof_result
    where proof_result_id = #{proofResultId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from control_proof_result
    where proof_result_id = #{proofResultId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.bewweb.entities.ProofResult" >
    insert into control_proof_result (proof_result_id, user_id, session_id, 
      proof_name, proof_value, count, 
      radices, rating, weight, 
      record_time, note)
    values (#{proofResultId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{sessionId,jdbcType=VARCHAR}, 
      #{proofName,jdbcType=VARCHAR}, #{proofValue,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, 
      #{radices,jdbcType=INTEGER}, #{rating,jdbcType=REAL}, #{weight,jdbcType=REAL}, 
      #{recordTime,jdbcType=DATE}, #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.bewweb.entities.ProofResult" >
    insert into control_proof_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proofResultId != null" >
        proof_result_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="proofName != null" >
        proof_name,
      </if>
      <if test="proofValue != null" >
        proof_value,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="radices != null" >
        radices,
      </if>
      <if test="rating != null" >
        rating,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proofResultId != null" >
        #{proofResultId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="sessionId != null" >
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="proofName != null" >
        #{proofName,jdbcType=VARCHAR},
      </if>
      <if test="proofValue != null" >
        #{proofValue,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="radices != null" >
        #{radices,jdbcType=INTEGER},
      </if>
      <if test="rating != null" >
        #{rating,jdbcType=REAL},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=REAL},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=DATE},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bewweb.entities.ProofResult" >
    update control_proof_result
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="sessionId != null" >
        session_id = #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="proofName != null" >
        proof_name = #{proofName,jdbcType=VARCHAR},
      </if>
      <if test="proofValue != null" >
        proof_value = #{proofValue,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="radices != null" >
        radices = #{radices,jdbcType=INTEGER},
      </if>
      <if test="rating != null" >
        rating = #{rating,jdbcType=REAL},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=REAL},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=DATE},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where proof_result_id = #{proofResultId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bewweb.entities.ProofResult" >
    update control_proof_result
    set user_id = #{userId,jdbcType=BIGINT},
      session_id = #{sessionId,jdbcType=VARCHAR},
      proof_name = #{proofName,jdbcType=VARCHAR},
      proof_value = #{proofValue,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      radices = #{radices,jdbcType=INTEGER},
      rating = #{rating,jdbcType=REAL},
      weight = #{weight,jdbcType=REAL},
      record_time = #{recordTime,jdbcType=DATE},
      note = #{note,jdbcType=VARCHAR}
    where proof_result_id = #{proofResultId,jdbcType=BIGINT}
  </update>
</mapper>