<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bewweb.dao.SellerMapper">
	<resultMap id="BaseResultMap" type="cn.bewweb.entities.Seller">
		<id column="seller_id" property="sellerId" jdbcType="BIGINT" />
		<result column="shop_id" property="shopId" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="id_card" property="idCard" jdbcType="CHAR" />
		<result column="income" property="income" jdbcType="DECIMAL" />
		<result column="aword" property="aword" jdbcType="DECIMAL" />
		<result column="job" property="job" jdbcType="VARCHAR" />
		<result column="job_day" property="jobDay" jdbcType="DATE" />
		<result column="depart" property="depart" jdbcType="VARCHAR" />
		<result column="power" property="power" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		seller_id, shop_id, user_id, id_card, income, aword, job, job_day, depart,
		power,
		state
	</sql>
	<!-- 查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from usr_seller
		where seller_id = #{sellerId,jdbcType=BIGINT}
	</select>

	<select id="find" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from usr_seller
		<where>
			<if test="param1 !=null and param1.sellerId != null">
				seller_id=#{param1.sellerId} 
			</if>
			<if test="param1 !=null and param1.shopId != null">
				and shop_id=#{param1.shopId} 
			</if>
			<if test="param1 !=null and param1.userId != null">
				and user_id=#{param1.userId} 
			</if>
			<if test="param1 !=null and param1.idCard != null">
				and id_card=#{param1.idCard} 
			</if>
			<if test="param1 !=null and param1.income != null">
				and income=#{param1.income} 
			</if>
			<if test="param1 !=null and param1.aword != null">
				and aword=#{param1.aword} 
			</if>
			<if test="param1 !=null and param1.job != null">
				and job=#{param1.job} 
			</if>
			<if test="param1 !=null and param1.jobDay != null">
				and job_day=#{param1.jobDay} 
			</if>
			<if test="param1 !=null and param1.depart != null">
				and depart=#{param1.depart} 
			</if>
			<if test="param1 !=null and param1.power != null">
				and power=#{param1.power} 
			</if>
			<if test="param1 !=null and param1.state != null">
				and state=#{param1.state} 
			</if>
		</where> 
		limit #{1},#{2}
	</select>
	
		<select id="findAndOrderBy" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from usr_seller
		<where>
			<if test="param1 !=null and param1.sellerId != null">
				seller_id=#{param1.sellerId} 
			</if>
			<if test="param1 !=null and param1.shopId != null">
				and shop_id=#{param1.shopId} 
			</if>
			<if test="param1 !=null and param1.userId != null">
				and user_id=#{param1.userId} 
			</if>
			<if test="param1 !=null and param1.idCard != null">
				and id_card=#{param1.idCard} 
			</if>
			<if test="param1 !=null and param1.income != null">
				and income=#{param1.income} 
			</if>
			<if test="param1 !=null and param1.aword != null">
				and aword=#{param1.aword} 
			</if>
			<if test="param1 !=null and param1.job != null">
				and job=#{param1.job} 
			</if>
			<if test="param1 !=null and param1.jobDay != null">
				and job_day=#{param1.jobDay} 
			</if>
			<if test="param1 !=null and param1.depart != null">
				and depart=#{param1.depart} 
			</if>
			<if test="param1 !=null and param1.power != null">
				and power=#{param1.power} 
			</if>
			<if test="param1 !=null and param1.state != null">
				and state=#{param1.state} 
			</if>
		</where> 
		order by #{1} 
		limit #{2},#{3}
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from usr_seller
		where seller_id = #{sellerId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.bewweb.entities.Seller">
		insert into usr_seller (seller_id, shop_id, user_id,
		id_card, income, aword,
		job, job_day, depart, power,
		state)
		values (#{sellerId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT},
		#{userId,jdbcType=BIGINT},
		#{idCard,jdbcType=CHAR}, #{income,jdbcType=DECIMAL}, #{aword,jdbcType=DECIMAL},
		#{job,jdbcType=VARCHAR}, #{jobDay,jdbcType=DATE},
		#{depart,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR},
		#{state,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.bewweb.entities.Seller">
		insert into usr_seller
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sellerId != null">
				seller_id,
			</if>
			<if test="shopId != null">
				shop_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="idCard != null">
				id_card,
			</if>
			<if test="income != null">
				income,
			</if>
			<if test="aword != null">
				aword,
			</if>
			<if test="job != null">
				job,
			</if>
			<if test="jobDay != null">
				job_day,
			</if>
			<if test="depart != null">
				depart,
			</if>
			<if test="power != null">
				power,
			</if>
			<if test="state != null">
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sellerId != null">
				#{sellerId,jdbcType=BIGINT},
			</if>
			<if test="shopId != null">
				#{shopId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="idCard != null">
				#{idCard,jdbcType=CHAR},
			</if>
			<if test="income != null">
				#{income,jdbcType=DECIMAL},
			</if>
			<if test="aword != null">
				#{aword,jdbcType=DECIMAL},
			</if>
			<if test="job != null">
				#{job,jdbcType=VARCHAR},
			</if>
			<if test="jobDay != null">
				#{jobDay,jdbcType=DATE},
			</if>
			<if test="depart != null">
				#{depart,jdbcType=VARCHAR},
			</if>
			<if test="power != null">
				#{power,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.bewweb.entities.Seller">
		update usr_seller
		<set>
			<if test="shopId != null">
				shop_id = #{shopId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="idCard != null">
				id_card = #{idCard,jdbcType=CHAR},
			</if>
			<if test="income != null">
				income = #{income,jdbcType=DECIMAL},
			</if>
			<if test="aword != null">
				aword = #{aword,jdbcType=DECIMAL},
			</if>
			<if test="job != null">
				job = #{job,jdbcType=VARCHAR},
			</if>
			<if test="jobDay != null">
				job_day = #{jobDay,jdbcType=DATE},
			</if>
			<if test="depart != null">
				depart = #{depart,jdbcType=VARCHAR},
			</if>
			<if test="power != null">
				power = #{power,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=CHAR},
			</if>
		</set>
		where seller_id = #{sellerId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.bewweb.entities.Seller">
		update usr_seller
		set shop_id = #{shopId,jdbcType=BIGINT},
		user_id = #{userId,jdbcType=BIGINT},
		id_card = #{idCard,jdbcType=CHAR},
		income = #{income,jdbcType=DECIMAL},
		aword = #{aword,jdbcType=DECIMAL},
		job = #{job,jdbcType=VARCHAR},
		job_day = #{jobDay,jdbcType=DATE},
		depart = #{depart,jdbcType=VARCHAR},
		power = #{power,jdbcType=VARCHAR},
		state = #{state,jdbcType=CHAR}
		where seller_id = #{sellerId,jdbcType=BIGINT}
	</update>
</mapper>