<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bewweb.dao.ShopMapper">
	<resultMap id="BaseResultMap" type="cn.bewweb.entities.Shop">
		<id column="shop_id" property="shopId" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="begin_day" property="beginDay" jdbcType="DATE" />
		<result column="credit" property="credit" jdbcType="INTEGER" />
		<result column="business_scope" property="businessScope"
			jdbcType="VARCHAR" />
		<result column="license" property="license" jdbcType="VARCHAR" />
		<result column="deposit" property="deposit" jdbcType="DECIMAL" />
		<result column="rent_per_month" property="rentPerMonth"
			jdbcType="DECIMAL" />
		<result column="rent_per_year" property="rentPerYear" jdbcType="DECIMAL" />
		<result column="state" property="state" jdbcType="CHAR" />
		<result column="legal_representative" property="legalRepresentative"
			jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="cn.bewweb.entities.Shop"
		extends="BaseResultMap">
		<result column="note" property="note" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		shop_id, name, begin_day, credit, business_scope, license,
		deposit,
		rent_per_month,
		rent_per_year, state, legal_representative
	</sql>
	<sql id="Blob_Column_List">
		note
	</sql>
	<!-- 查询 -->
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from trade_shop
		where shop_id = #{shopId,jdbcType=BIGINT}
	</select>

	<select id="find" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from trade_shop
		<where>
			<if test="param1!=null and param1.shopId != null">
				shop_id = #{param1.shopId} 
			</if>
			<if test="param1!=null and param1.name != null">
				and name = #{param1.name} 
			</if>
			<if test="param1!=null and param1.beginDay != null">
				and begin_day = #{param1.beginDay} 
			</if>
			<if test="param1!=null and param1.credit != null">
				and credit = #{param1.credit} 
			</if>
			<if test="param1!=null and param1.businessScope != null">
				and business_scope like '%${param1.businessScope}%' 
			</if>
			<if test="param1!=null and param1.license != null">
				and license  like '%${param1.license}%' 
			</if>
			<if test="param1!=null and param1.deposit != null">
				and deposit = #{param1.deposit} 
			</if>
			<if test="param1!=null and param1.rentPerMonth != null">
				and rent_per_month = #{param1.rentPerMonth} 
			</if>
			<if test="param1!=null and param1.rentPerYear != null">
				and rent_per_year = #{param1.rentPerYear} 
			</if>
			<if test="param1!=null and param1.state != null">
				and state = #{param1.state} 
			</if>
			<if test="param1!=null and param1.legalRepresentative != null">
				and legal_representative = #{param1.legalRepresentative} 
			</if>
			<if test="param1!=null and param1.note != null">
				and note like '%${param1.note}%' 
			</if>
		</where>
		 limit #{1},#{2}
	</select>

	<select id="selectAll" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from trade_shop
		limit #{0},#{1}
	</select>

	<select id="selectByName" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from trade_shop
		where name = #{0}
		limit #{1},#{2}
	</select>

	<select id="selectByNameState" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from trade_shop
		where name = #{0} and state=#{1}
		limit #{2},#{3}
	</select>

	<select id="selectAllOrderByBeginDay" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from trade_shop
		order by begin_day #{0}
		limit #{1},#{2}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		trade_shop
		where shop_id = #{shopId,jdbcType=BIGINT}
	</delete>



	<insert id="insert" parameterType="cn.bewweb.entities.Shop">
		insert into trade_shop
		(shop_id, name, begin_day,
		credit, business_scope, license,
		deposit,
		rent_per_month, rent_per_year,
		state, legal_representative, note
		)
		values (#{shopId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{beginDay,jdbcType=DATE},
		#{credit,jdbcType=INTEGER},
		#{businessScope,jdbcType=VARCHAR}, #{license,jdbcType=VARCHAR},
		#{deposit,jdbcType=DECIMAL}, #{rentPerMonth,jdbcType=DECIMAL},
		#{rentPerYear,jdbcType=DECIMAL},
		#{state,jdbcType=CHAR},
		#{legalRepresentative,jdbcType=VARCHAR}, #{note,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.bewweb.entities.Shop">
		insert into trade_shop
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="shopId != null">
				shop_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="beginDay != null">
				begin_day,
			</if>
			<if test="credit != null">
				credit,
			</if>
			<if test="businessScope != null">
				business_scope,
			</if>
			<if test="license != null">
				license,
			</if>
			<if test="deposit != null">
				deposit,
			</if>
			<if test="rentPerMonth != null">
				rent_per_month,
			</if>
			<if test="rentPerYear != null">
				rent_per_year,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="legalRepresentative != null">
				legal_representative,
			</if>
			<if test="note != null">
				note,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="shopId != null">
				#{shopId,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="beginDay != null">
				#{beginDay,jdbcType=DATE},
			</if>
			<if test="credit != null">
				#{credit,jdbcType=INTEGER},
			</if>
			<if test="businessScope != null">
				#{businessScope,jdbcType=VARCHAR},
			</if>
			<if test="license != null">
				#{license,jdbcType=VARCHAR},
			</if>
			<if test="deposit != null">
				#{deposit,jdbcType=DECIMAL},
			</if>
			<if test="rentPerMonth != null">
				#{rentPerMonth,jdbcType=DECIMAL},
			</if>
			<if test="rentPerYear != null">
				#{rentPerYear,jdbcType=DECIMAL},
			</if>
			<if test="state != null">
				#{state,jdbcType=CHAR},
			</if>
			<if test="legalRepresentative != null">
				#{legalRepresentative,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				#{note,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.bewweb.entities.Shop">
		update trade_shop
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="beginDay != null">
				begin_day = #{beginDay,jdbcType=DATE},
			</if>
			<if test="credit != null">
				credit = #{credit,jdbcType=INTEGER},
			</if>
			<if test="businessScope != null">
				business_scope = #{businessScope,jdbcType=VARCHAR},
			</if>
			<if test="license != null">
				license = #{license,jdbcType=VARCHAR},
			</if>
			<if test="deposit != null">
				deposit = #{deposit,jdbcType=DECIMAL},
			</if>
			<if test="rentPerMonth != null">
				rent_per_month = #{rentPerMonth,jdbcType=DECIMAL},
			</if>
			<if test="rentPerYear != null">
				rent_per_year = #{rentPerYear,jdbcType=DECIMAL},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=CHAR},
			</if>
			<if test="legalRepresentative != null">
				legal_representative =
				#{legalRepresentative,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				note = #{note,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where shop_id = #{shopId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.bewweb.entities.Shop">
		update
		trade_shop
		set name = #{name,jdbcType=VARCHAR},
		begin_day =
		#{beginDay,jdbcType=DATE},
		credit = #{credit,jdbcType=INTEGER},
		business_scope = #{businessScope,jdbcType=VARCHAR},
		license =
		#{license,jdbcType=VARCHAR},
		deposit = #{deposit,jdbcType=DECIMAL},
		rent_per_month = #{rentPerMonth,jdbcType=DECIMAL},
		rent_per_year =
		#{rentPerYear,jdbcType=DECIMAL},
		state = #{state,jdbcType=CHAR},
		legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
		note =
		#{note,jdbcType=LONGVARCHAR}
		where shop_id = #{shopId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.bewweb.entities.Shop">
		update trade_shop
		set name = #{name,jdbcType=VARCHAR},
		begin_day =
		#{beginDay,jdbcType=DATE},
		credit = #{credit,jdbcType=INTEGER},
		business_scope = #{businessScope,jdbcType=VARCHAR},
		license =
		#{license,jdbcType=VARCHAR},
		deposit = #{deposit,jdbcType=DECIMAL},
		rent_per_month = #{rentPerMonth,jdbcType=DECIMAL},
		rent_per_year =
		#{rentPerYear,jdbcType=DECIMAL},
		state = #{state,jdbcType=CHAR},
		legal_representative = #{legalRepresentative,jdbcType=VARCHAR}
		where
		shop_id = #{shopId,jdbcType=BIGINT}
	</update>
</mapper>