<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bewweb.dao.BookMapper">
	<resultMap id="BaseResultMap" type="cn.bewweb.entities.Book">
		<id column="isbn" property="isbn" jdbcType="BIGINT" />
		<result column="book_name" property="bookName" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="translator" property="translator" jdbcType="VARCHAR" />
		<result column="press" property="press" jdbcType="VARCHAR" />
		<result column="press_day" property="pressDay" jdbcType="DATE" />
		<result column="edition" property="edition" jdbcType="INTEGER" />
		<result column="all_pages" property="allPages" jdbcType="INTEGER" />
		<result column="format" property="format" jdbcType="VARCHAR" />
		<result column="book_package" property="bookPackage" jdbcType="VARCHAR" />
		<result column="pager" property="pager" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="folder" property="folder" jdbcType="VARCHAR" />
		<result column="e_book" property="eBook" jdbcType="VARCHAR" />
		<result column="e_book_price" property="eBookPrice" jdbcType="DECIMAL" />
		<result column="borrow_copy_count" property="borrowCopyCount"
			jdbcType="INTEGER" />
		<result column="sell_copy_count" property="sellCopyCount"
			jdbcType="INTEGER" />
		<result column="book_position" property="bookPosition" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="cn.bewweb.entities.BookWithBLOBs"
		extends="BaseResultMap">
		<result column="inroduction" property="inroduction" jdbcType="LONGVARCHAR" />
		<result column="direcotry" property="direcotry" jdbcType="LONGVARCHAR" />
		<result column="author_preface" property="authorPreface"
			jdbcType="LONGVARCHAR" />
		<result column="translator_preface" property="translatorPreface"
			jdbcType="LONGVARCHAR" />
		<result column="press_preface" property="pressPreface"
			jdbcType="LONGVARCHAR" />
		<result column="recommend" property="recommend" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		isbn, book_name, author, translator, press, press_day,
		edition, all_pages,
		format,
		book_package, pager, type, folder, e_book,
		e_book_price, borrow_copy_count,
		sell_copy_count,
		book_position 
	</sql>
	<sql id="Blob_Column_List">
		inroduction, direcotry, author_preface, translator_preface,
		press_preface,
		recommend
	</sql>


	<!-- 查询 -->
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from trade_book
		where isbn = #{isbn,jdbcType=BIGINT}
	</select>


	<select id="selectBooksByPage" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		from trade_book
		limit #{0},#{1}
	</select>

	<select id="selectBooksByName" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		from trade_book
		while book_name = #{0}
		limit #{1},#{2}
	</select>

	<select id="selectBooksByAuthor" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		from trade_book
		while author = #{0}
		limit #{1},#{2}
	</select>

	<select id="selectBooksByPress" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		from trade_book
		while press = #{0}
		limit #{1},#{2}
	</select>



	<select id="find" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		<!-- ,
		<include refid="Blob_Column_List" /> -->
		from trade_book
		<where>
			<if test="param1 !=null and param1.isbn != null">
				isbn =  #{param1.isbn} 
			</if>
			<if test="param1 !=null and param1.bookName != null">
				and book_name =  #{param1.bookName} 
			</if>
			<if test="param1 !=null and param1.author != null">
				and author =  #{param1.author} 
			</if>
			<if test="param1 !=null and param1.translator != null">
				and translator =  #{param1.translator} 
			</if>
			<if test="param1 !=null and param1.press != null">
				and press =  #{param1.press} 
			</if>
			<if test="param1 !=null and param1.pressDay != null">
				and press_day =  #{param1.pressDay} 
			</if>
			<if test="param1 !=null and param1.edition != null">
				and edition =  #{param1.edition} 
			</if>
			<if test="param1 !=null and param1.allPages != null">
				and all_pages =  #{param1.allPages} 
			</if>
			<if test="param1 !=null and param1.format != null">
				format =  #{param1.format} 
			</if>
			<if test="param1 !=null and param1.bookPackage != null">
				and book_package =  #{param1.bookPackage} 
			</if>
			<if test="param1 !=null and param1.pager != null">
				and pager =  #{param1.pager} 
			</if>
			<if test="param1 !=null and param1.type != null">
				and type =  #{param1.type} 
			</if>
			<if test="param1 !=null and param1.folder != null">
				and folder =  #{param1.folder} 
			</if>
			<if test="param1 !=null and param1.eBook != null">
				and e_book =  #{param1.eBook} 
			</if>
			<if test="param1 !=null and param1.eBookPrice != null">
				and e_book_price =  #{param1.eBookPrice} 
			</if>
			<if test="param1 !=null and param1.borrowCopyCount != null">
				and borrow_copy_count =  #{param1.borrowCopyCount} 
			</if>
			<if test="param1 !=null and param1.sellCopyCount != null">
				and sell_copy_count =  #{param1.sellCopyCount} 
			</if>
			<if test="param1 !=null and param1.bookPosition != null">
				and book_potistion =  #{param1.bookPosition} 
			</if>
			<if test="param1 !=null and param1.inroduction != null">
				and inroduction like '%${param1.inroduction}%'  
			</if>
			<if test="param1 !=null and param1.direcotry != null">
				and direcotry like '%${param1.direcotry}%'  
			</if>
			<if test="param1 !=null and param1.authorPreface != null">
				and author_preface like '%${param1.authorPreface}%'  
			</if>
			<if test="param1 !=null and param1.translatorPreface != null">
				and translator_preface like '%${param1.translatorPreface}%'  
			</if>
			<if test="param1 !=null and param1.pressPreface != null">
				and press_preface like '%$param1.pressPreface}%' 
			</if>
			<if test="param1 !=null and param1.recommend != null">
				and recommend like '%${param1.recommend}%' 
			</if>
		</where>
		limit #{1},#{2}
	</select>
	
	
	<select id="findAndeOrderBy" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		<!-- ,
		<include refid="Blob_Column_List" /> -->
		from trade_book
		<where>
			<if test="param1 !=null and param1.isbn != null">
				isbn =  #{param1.isbn} 
			</if>
			<if test="param1 !=null and param1.bookName != null">
				and book_name =  #{param1.bookName} 
			</if>
			<if test="param1 !=null and param1.author != null">
				and author =  #{param1.author} 
			</if>
			<if test="param1 !=null and param1.translator != null">
				and translator =  #{param1.translator} 
			</if>
			<if test="param1 !=null and param1.press != null">
				and press =  #{param1.press} 
			</if>
			<if test="param1 !=null and param1.pressDay != null">
				and press_day =  #{param1.pressDay} 
			</if>
			<if test="param1 !=null and param1.edition != null">
				and edition =  #{param1.edition} 
			</if>
			<if test="param1 !=null and param1.allPages != null">
				and all_pages =  #{param1.allPages} 
			</if>
			<if test="param1 !=null and param1.format != null">
				format =  #{param1.format} 
			</if>
			<if test="param1 !=null and param1.bookPackage != null">
				and book_package =  #{param1.bookPackage} 
			</if>
			<if test="param1 !=null and param1.pager != null">
				and pager =  #{param1.pager} 
			</if>
			<if test="param1 !=null and param1.type != null">
				and type =  #{param1.type} 
			</if>
			<if test="param1 !=null and param1.folder != null">
				and folder =  #{param1.folder} 
			</if>
			<if test="param1 !=null and param1.eBook != null">
				and e_book =  #{param1.eBook} 
			</if>
			<if test="param1 !=null and param1.eBookPrice != null">
				and e_book_price =  #{param1.eBookPrice} 
			</if>
			<if test="param1 !=null and param1.borrowCopyCount != null">
				and borrow_copy_count =  #{param1.borrowCopyCount} 
			</if>
			<if test="param1 !=null and param1.sellCopyCount != null">
				and sell_copy_count =  #{param1.sellCopyCount} 
			</if>
			<if test="param1 !=null and param1.bookPosition != null">
				and book_potistion =  #{param1.bookPosition} 
			</if>
			<if test="param1 !=null and param1.inroduction != null">
				and inroduction like '%${param1.inroduction}%'  
			</if>
			<if test="param1 !=null and param1.direcotry != null">
				and direcotry like '%${param1.direcotry}%'  
			</if>
			<if test="param1 !=null and param1.authorPreface != null">
				and author_preface like '%${param1.authorPreface}%'  
			</if>
			<if test="param1 !=null and param1.translatorPreface != null">
				and translator_preface like '%${param1.translatorPreface}%'  
			</if>
			<if test="param1 !=null and param1.pressPreface != null">
				and press_preface like '%$param1.pressPreface}%' 
			</if>
			<if test="param1 !=null and param1.recommend != null">
				and recommend like '%${param1.recommend}%' 
			</if>
		</where> 
		order by #{1} 
		limit #{2},#{3} 
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		trade_book
		where isbn = #{isbn,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.bewweb.entities.BookWithBLOBs">
		insert into trade_book (isbn,
		book_name, author,
		translator, press, press_day,
		edition, all_pages,
		format,
		book_package, pager, type,
		folder, e_book, e_book_price,
		borrow_copy_count, sell_copy_count, book_position, inroduction,
		direcotry,
		author_preface, translator_preface,
		press_preface, recommend)
		values
		(#{isbn,jdbcType=BIGINT}, #{bookName,jdbcType=VARCHAR},
		#{author,jdbcType=VARCHAR},
		#{translator,jdbcType=VARCHAR},
		#{press,jdbcType=VARCHAR}, #{pressDay,jdbcType=DATE},
		#{edition,jdbcType=INTEGER}, #{allPages,jdbcType=INTEGER},
		#{format,jdbcType=VARCHAR},
		#{bookPackage,jdbcType=VARCHAR},
		#{pager,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
		#{folder,jdbcType=VARCHAR}, #{eBook,jdbcType=VARCHAR},
		#{eBookPrice,jdbcType=DECIMAL},
		#{borrowCopyCount,jdbcType=INTEGER},
		#{sellCopyCount,jdbcType=INTEGER},
		#{bookPosition,jdbcType=VARCHAR},
		#{inroduction,jdbcType=LONGVARCHAR},
		#{direcotry,jdbcType=LONGVARCHAR},
		#{authorPreface,jdbcType=LONGVARCHAR},
		#{translatorPreface,jdbcType=LONGVARCHAR},
		#{pressPreface,jdbcType=LONGVARCHAR},
		#{recommend,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.bewweb.entities.BookWithBLOBs">
		insert into trade_book
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="isbn != null">
				isbn,
			</if>
			<if test="bookName != null">
				book_name,
			</if>
			<if test="author != null">
				author,
			</if>
			<if test="translator != null">
				translator,
			</if>
			<if test="press != null">
				press,
			</if>
			<if test="pressDay != null">
				press_day,
			</if>
			<if test="edition != null">
				edition,
			</if>
			<if test="allPages != null">
				all_pages,
			</if>
			<if test="format != null">
				format,
			</if>
			<if test="bookPackage != null">
				book_package,
			</if>
			<if test="pager != null">
				pager,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="folder != null">
				folder,
			</if>
			<if test="eBook != null">
				e_book,
			</if>
			<if test="eBookPrice != null">
				e_book_price,
			</if>
			<if test="borrowCopyCount != null">
				borrow_copy_count,
			</if>
			<if test="sellCopyCount != null">
				sell_copy_count,
			</if>
			<if test="bookPosition != null">
				book_position,
			</if>
			<if test="inroduction != null">
				inroduction,
			</if>
			<if test="direcotry != null">
				direcotry,
			</if>
			<if test="authorPreface != null">
				author_preface,
			</if>
			<if test="translatorPreface != null">
				translator_preface,
			</if>
			<if test="pressPreface != null">
				press_preface,
			</if>
			<if test="recommend != null">
				recommend,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="isbn != null">
				#{isbn,jdbcType=BIGINT},
			</if>
			<if test="bookName != null">
				#{bookName,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="translator != null">
				#{translator,jdbcType=VARCHAR},
			</if>
			<if test="press != null">
				#{press,jdbcType=VARCHAR},
			</if>
			<if test="pressDay != null">
				#{pressDay,jdbcType=DATE},
			</if>
			<if test="edition != null">
				#{edition,jdbcType=INTEGER},
			</if>
			<if test="allPages != null">
				#{allPages,jdbcType=INTEGER},
			</if>
			<if test="format != null">
				#{format,jdbcType=VARCHAR},
			</if>
			<if test="bookPackage != null">
				#{bookPackage,jdbcType=VARCHAR},
			</if>
			<if test="pager != null">
				#{pager,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="folder != null">
				#{folder,jdbcType=VARCHAR},
			</if>
			<if test="eBook != null">
				#{eBook,jdbcType=VARCHAR},
			</if>
			<if test="eBookPrice != null">
				#{eBookPrice,jdbcType=DECIMAL},
			</if>
			<if test="borrowCopyCount != null">
				#{borrowCopyCount,jdbcType=INTEGER},
			</if>
			<if test="bookPosition != null">
				#{bookPosition,jdbcType=VARCHAR},
			</if>
			<if test="sellCopyCount != null">
				#{sellCopyCount,jdbcType=INTEGER},
			</if>
			<if test="inroduction != null">
				#{inroduction,jdbcType=LONGVARCHAR},
			</if>
			<if test="direcotry != null">
				#{direcotry,jdbcType=LONGVARCHAR},
			</if>
			<if test="authorPreface != null">
				#{authorPreface,jdbcType=LONGVARCHAR},
			</if>
			<if test="translatorPreface != null">
				#{translatorPreface,jdbcType=LONGVARCHAR},
			</if>
			<if test="pressPreface != null">
				#{pressPreface,jdbcType=LONGVARCHAR},
			</if>
			<if test="recommend != null">
				#{recommend,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.bewweb.entities.BookWithBLOBs">
		update trade_book
		<set>
			<if test="bookName != null">
				book_name = #{bookName,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				author = #{author,jdbcType=VARCHAR},
			</if>
			<if test="translator != null">
				translator = #{translator,jdbcType=VARCHAR},
			</if>
			<if test="press != null">
				press = #{press,jdbcType=VARCHAR},
			</if>
			<if test="pressDay != null">
				press_day = #{pressDay,jdbcType=DATE},
			</if>
			<if test="edition != null">
				edition = #{edition,jdbcType=INTEGER},
			</if>
			<if test="allPages != null">
				all_pages = #{allPages,jdbcType=INTEGER},
			</if>
			<if test="format != null">
				format = #{format,jdbcType=VARCHAR},
			</if>
			<if test="bookPackage != null">
				book_package = #{bookPackage,jdbcType=VARCHAR},
			</if>
			<if test="pager != null">
				pager = #{pager,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="folder != null">
				folder = #{folder,jdbcType=VARCHAR},
			</if>
			<if test="eBook != null">
				e_book = #{eBook,jdbcType=VARCHAR},
			</if>
			<if test="eBookPrice != null">
				e_book_price = #{eBookPrice,jdbcType=DECIMAL},
			</if>
			<if test="borrowCopyCount != null">
				borrow_copy_count = #{borrowCopyCount,jdbcType=INTEGER},
			</if>
			<if test="bookPosition != null">
				book_position = #{bookPosition,jdbcType=VARCHAR},
			</if>
			<if test="sellCopyCount != null">
				sell_copy_count = #{sellCopyCount,jdbcType=INTEGER},
			</if>
			<if test="inroduction != null">
				inroduction = #{inroduction,jdbcType=LONGVARCHAR},
			</if>
			<if test="direcotry != null">
				direcotry = #{direcotry,jdbcType=LONGVARCHAR},
			</if>
			<if test="authorPreface != null">
				author_preface = #{authorPreface,jdbcType=LONGVARCHAR},
			</if>
			<if test="translatorPreface != null">
				translator_preface =
				#{translatorPreface,jdbcType=LONGVARCHAR},
			</if>
			<if test="pressPreface != null">
				press_preface = #{pressPreface,jdbcType=LONGVARCHAR},
			</if>
			<if test="recommend != null">
				recommend = #{recommend,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where isbn = #{isbn,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.bewweb.entities.BookWithBLOBs">
		update
		trade_book
		set book_name = #{bookName,jdbcType=VARCHAR},
		author =
		#{author,jdbcType=VARCHAR},
		translator =
		#{translator,jdbcType=VARCHAR},
		press = #{press,jdbcType=VARCHAR},
		press_day = #{pressDay,jdbcType=DATE},
		edition =
		#{edition,jdbcType=INTEGER},
		all_pages = #{allPages,jdbcType=INTEGER},
		format = #{format,jdbcType=VARCHAR},
		book_package =
		#{bookPackage,jdbcType=VARCHAR},
		pager = #{pager,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		folder = #{folder,jdbcType=VARCHAR},
		e_book = #{eBook,jdbcType=VARCHAR},
		e_book_price =
		#{eBookPrice,jdbcType=DECIMAL},
		borrow_copy_count =
		#{borrowCopyCount,jdbcType=INTEGER},
		sell_copy_count =
		#{sellCopyCount,jdbcType=INTEGER},
		book_position =
		#{book_position,jdbcType=VARCHAR},
		inroduction =
		#{inroduction,jdbcType=LONGVARCHAR},
		direcotry =
		#{direcotry,jdbcType=LONGVARCHAR},
		author_preface =
		#{authorPreface,jdbcType=LONGVARCHAR},
		translator_preface =
		#{translatorPreface,jdbcType=LONGVARCHAR},
		press_preface =
		#{pressPreface,jdbcType=LONGVARCHAR},
		recommend =
		#{recommend,jdbcType=LONGVARCHAR}
		where isbn = #{isbn,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.bewweb.entities.Book">
		update trade_book
		set book_name = #{bookName,jdbcType=VARCHAR},
		author =
		#{author,jdbcType=VARCHAR},
		translator =
		#{translator,jdbcType=VARCHAR},
		press = #{press,jdbcType=VARCHAR},
		press_day = #{pressDay,jdbcType=DATE},
		edition =
		#{edition,jdbcType=INTEGER},
		all_pages = #{allPages,jdbcType=INTEGER},
		format = #{format,jdbcType=VARCHAR},
		book_package =
		#{bookPackage,jdbcType=VARCHAR},
		pager = #{pager,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		folder = #{folder,jdbcType=VARCHAR},
		e_book = #{eBook,jdbcType=VARCHAR},
		e_book_price =
		#{eBookPrice,jdbcType=DECIMAL},
		borrow_copy_count =
		#{borrowCopyCount,jdbcType=INTEGER},
		sell_copy_count =
		#{sellCopyCount,jdbcType=INTEGER}, 
		book_position =
		#{book_position,jdbcType=VARCHAR} 
		where isbn = #{isbn,jdbcType=BIGINT}
	</update>
</mapper>