<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bewweb.dao.GoodsMapper">
	<resultMap id="BaseResultMap" type="cn.bewweb.entities.Goods">
		<id column="goods_id" property="goodsId" jdbcType="BIGINT" />
		<result column="shop_id" property="shopId" jdbcType="BIGINT" />
		<result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
		<result column="a_word_intro" property="aWordIntro" jdbcType="VARCHAR" />
		<result column="key_words" property="keyWords" jdbcType="VARCHAR" />
		<result column="goods_label" property="goodsLabel" jdbcType="VARCHAR" />
		<result column="in_stock" property="inStock" jdbcType="INTEGER" />
		<result column="copy_for_borrow" property="copyForBorrow"
			jdbcType="INTEGER" />
		<result column="original_price" property="originalPrice"
			jdbcType="DECIMAL" />
		<result column="income_price" property="incomePrice" jdbcType="DECIMAL" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="discount" property="discount" jdbcType="DECIMAL" />
		<result column="in_sell_day" property="inSellDay" jdbcType="DATE" />
		<result column="category" property="category" jdbcType="CHAR" />
		<result column="goods_class" property="goodsClass" jdbcType="CHAR" />
		<result column="ratings" property="ratings" jdbcType="INTEGER" />
		<result column="entity_table" property="entityTable" jdbcType="VARCHAR" />
		<result column="entity_id" property="entityId" jdbcType="DECIMAL" />
		<result column="state" property="state" jdbcType="CHAR" />
		<result column="click_ok" property="clickOk" jdbcType="INTEGER" />
		<result column="click_middle" property="clickMiddle" jdbcType="INTEGER" />
		<result column="click_bad" property="clickBad" jdbcType="INTEGER" />
		<result column="view_count" property="viewCount" jdbcType="BIGINT" />
		<result column="today_view_count" property="todayViewCount"
			jdbcType="INTEGER" />
		<result column="today_sell" property="todaySell" jdbcType="INTEGER" />
		<result column="allsell" property="allsell" jdbcType="BIGINT" />
		<result column="tody_borrow" property="todyBorrow" jdbcType="INTEGER" />
		<result column="all_borrow" property="allBorrow" jdbcType="BIGINT" />
		<result column="all_care" property="allCare" jdbcType="BIGINT" />
		<result column="entry_folder" property="entryFolder" jdbcType="VARCHAR" />
		<association property="book" javaType="cn.bewweb.entities.Book">
			<id column="isbn" property="isbn" jdbcType="BIGINT" />
			<result column="book_name" property="bookName" jdbcType="VARCHAR" />
			<result column="author" property="author" jdbcType="VARCHAR" />
			<result column="translator" property="translator" jdbcType="VARCHAR" />
			<result column="press" property="press" jdbcType="VARCHAR" />
			<result column="press_day" property="pressDay" jdbcType="DATE" />
			<result column="edition" property="edition" jdbcType="INTEGER" />
			<result column="all_pages" property="allPages" jdbcType="INTEGER" />
			<result column="format" property="format" jdbcType="VARCHAR" />
			<result column="book_package" property="bookPackage" jdbcType="VARCHAR" />
			<result column="pager" property="pager" jdbcType="VARCHAR" />
			<result column="type" property="type" jdbcType="VARCHAR" />
			<result column="folder" property="folder" jdbcType="VARCHAR" />
			<result column="e_book" property="eBook" jdbcType="VARCHAR" />
			<result column="e_book_price" property="eBookPrice" jdbcType="DECIMAL" />
			<result column="borrow_copy_count" property="borrowCopyCount"
				jdbcType="INTEGER" />
			<result column="sell_copy_count" property="sellCopyCount"
				jdbcType="INTEGER" />
			<result column="inroduction" property="inroduction" jdbcType="LONGVARCHAR" />
			<result column="direcotry" property="direcotry" jdbcType="LONGVARCHAR" />
			<result column="author_preface" property="authorPreface"
				jdbcType="LONGVARCHAR" />
			<result column="translator_preface" property="translatorPreface"
				jdbcType="LONGVARCHAR" />
			<result column="press_preface" property="pressPreface"
				jdbcType="LONGVARCHAR" />
			<result column="recommend" property="recommend" jdbcType="LONGVARCHAR" />
		</association>
	</resultMap>


	<sql id="Base_Column_List">
		goods_id, shop_id, goods_name, a_word_intro, key_words,
		goods_label, in_stock,
		copy_for_borrow,
		original_price, income_price,
		price, discount, in_sell_day, category, goods_class,
		ratings,
		entity_table, entity_id, state, click_ok, click_middle,
		click_bad,
		view_count,
		today_view_count, today_sell, allsell, tody_borrow,
		all_borrow, all_care,entry_folder
	</sql>

	<sql id="Base_Column_List_book">
		isbn, book_name, author, translator, press, press_day,
		edition, all_pages,
		format,
		book_package, pager, type, folder, e_book,
		e_book_price, borrow_copy_count,
		sell_copy_count
	</sql>

	<!-- 查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select  
		<include refid="Base_Column_List" />
		from trade_goods
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</select>
	
	
	
	<select id="getGoodsNumber" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select goods_id, shop_id, goods_name, a_word_intro,
		in_stock, copy_for_borrow,  
		click_ok, click_middle, click_bad,
		view_count, today_view_count, 
		today_sell, allsell, 
		tody_borrow, all_borrow, all_care 
		from trade_goods
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</select>

	<select id="selectByPrimaryKeyWithBook" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Base_Column_List_book" />
		from trade_goods left join trade_book on trade_goods.entity_id =
		trade_book.isbn
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</select>


	<select id="getCopyNum" resultMap="BaseResultMap">
		select goods_id ,
		copy_for_borrow , in_stock
		from trade_goods
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</select>


	<select id="findByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		goods_id, shop_id,
		a_word_intro, key_words,
		in_stock,
		copy_for_borrow,
		original_price,
		price, discount,
		in_sell_day, category, goods_class,
		ratings,
		click_ok, click_middle,
		click_bad,
		view_count,
		today_view_count, today_sell, allsell,
		tody_borrow,
		all_borrow, all_care,entry_folder
		from trade_goods
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</select>


	<select id="findPriceByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		goods_id,
		price, discount
		from trade_goods
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</select>


	<select id="selectGoodsByPage" resultMap="BaseResultMap">
		select
		goods_id,shop_id,goods_name,a_word_intro,price,original_price,trade_book.folder
		from trade_goods left join trade_book
		on trade_goods.entity_id = trade_book.isbn
		limit #{0},#{1}
	</select>
	<!-- left join trade_book on trade_goods.entity_id = trade_book.isbn -->
	<select id="find" resultMap="BaseResultMap">
		select
		goods_id,   shop_id,  
		goods_name, a_word_intro ,  
		price,  entry_folder, 
		copy_for_borrow, in_stock , 
		category , ratings 
		from trade_goods  
		<where>
			<if test="param1 !=null and param1.goodsId != null">
				goods_id = #{param1.goodsId}
			</if>
			<if test="param1 !=null and param1.shopId != null">
				and shop_id = #{param1.shopId}
			</if>
			<if test="param1 !=null and param1.goodsName != null">
				and goods_name like '%${param1.goodsName}%'
			</if>
			<if test="param1 !=null and param1.aWordIntro != null">
				and a_word_intro like '%${param1.aWordIntro}%'
			</if>
			<if test="param1 !=null and param1.keyWords != null">
				and key_words like '%${param1.keyWords}%'
			</if>
			<if test="param1 !=null and param1.goodsLabel != null">
				and goods_label like '%${param1.goodsLabel}%'
			</if>
			<if test="param1 !=null and param1.inStock != null">
				and in_stock = #{param1.inStock}
			</if>
			<if test="param1 !=null and param1.copyForBorrow != null">
				and copy_for_borrow = #{param1.copyForBorrow}
			</if>
			<if test="param1 !=null and param1.originalPrice != null">
				and original_price = #{param1.originalPrice}
			</if>
			<if test="param1 !=null and param1.incomePrice != null">
				and income_price = #{param1.incomePrice}
			</if>
			<if test="param1 !=null and param1.price != null">
				and price = #{param1.price}
			</if>
			<if test="param1 !=null and param1.discount != null">
				and discount = #{param1.discount}
			</if>
			<if test="param1 !=null and param1.inSellDay != null">
				and in_sell_day = #{param1.inSellDay}
			</if>
			<if test="param1 !=null and param1.category != null">
				and category = #{param1.category}
			</if>
			<if test="param1 !=null and param1.goodsClass != null">
				and goods_class = #{param1.goodsClass}
			</if>
			<if test="param1 !=null and param1.ratings != null">
				and ratings = #{param1.ratings}
			</if>
			<if test="param1 !=null and param1.entityTable != null">
				and entity_table = #{param1.entityTable}
			</if>
			<if test="param1 !=null and param1.entityId != null">
				and entity_id = #{param1.entityId}
			</if>
			<if test="param1 !=null and param1.state != null">
				and state = #{param1.state}
			</if>
			<if test="param1 !=null and param1.clickOk != null">
				and click_ok = #{param1.clickOk}
			</if>
			<if test="param1 !=null and param1.clickMiddle != null">
				and click_middle = #{param1.clickMiddle}
			</if>
			<if test="param1 !=null and param1.clickBad != null">
				and click_bad = #{param1.clickBad}
			</if>
			<if test="param1 !=null and param1.viewCount != null">
				and view_count = #{param1.viewCount}
			</if>
			<if test="param1 !=null and param1.todayViewCount != null">
				and today_view_count = #{param1.todayViewCount}
			</if>
			<if test="param1 !=null and param1.todaySell != null">
				and today_sell = #{param1.todaySell}
			</if>
			<if test="param1 !=null and param1.allsell != null">
				and allsell = #{param1.allsell}
			</if>
			<if test="param1 !=null and param1.todyBorrow != null">
				and tody_borrow = #{param1.todyBorrow}
			</if>
			<if test="param1 !=null and param1.allBorrow != null">
				and all_borrow = #{param1.allBorrow}
			</if>
			<if test="param1 !=null and param1.allCare != null">
				and all_care = #{param1.allCare}
			</if>
			<if test="param1 !=null and param1.entryFolder != null">
				and entry_folder = #{param1.entryFolder}
			</if>
		</where>
		limit #{1},#{2}
	</select>



	<select id="findAndeOrderBy" resultMap="BaseResultMap">
		select
		goods_id,shop_id,goods_name,a_word_intro,price,original_price,trade_book.folder
		from trade_goods left join trade_book
		on trade_goods.entity_id = trade_book.isbn
		<where>
			<if test="param1 !=null and param1.goodsId != null">
				goods_id = #{param1.goodsId}
			</if>
			<if test="param1 !=null and param1.shopId != null">
				and shop_id = #{param1.shopId}
			</if>
			<if test="param1 !=null and param1.goodsName != null">
				and goods_name = #{param1.goodsName}
			</if>
			<if test="param1 !=null and param1.aWordIntro != null">
				and a_word_intro = #{param1.aWordIntro}
			</if>
			<if test="param1 !=null and param1.keyWords != null">
				and key_words = #{param1.keyWords}
			</if>
			<if test="param1 !=null and param1.goodsLabel != null">
				and goods_label = #{param1.goodsLabel}
			</if>
			<if test="param1 !=null and param1.inStock != null">
				and in_stock = #{param1.inStock}
			</if>
			<if test="param1 !=null and param1.copyForBorrow != null">
				and copy_for_borrow = #{param1.copyForBorrow}
			</if>
			<if test="param1 !=null and param1.originalPrice != null">
				and original_price = #{param1.originalPrice}
			</if>
			<if test="param1 !=null and param1.incomePrice != null">
				and income_price = #{param1.incomePrice}
			</if>
			<if test="param1 !=null and param1.price != null">
				and price = #{param1.price}
			</if>
			<if test="param1 !=null and param1.discount != null">
				and discount = #{param1.discount}
			</if>
			<if test="param1 !=null and param1.inSellDay != null">
				and in_sell_day = #{param1.inSellDay}
			</if>
			<if test="param1 !=null and param1.category != null">
				and category = #{param1.category}
			</if>
			<if test="param1 !=null and param1.goodsClass != null">
				and goods_class = #{param1.goodsClass}
			</if>
			<if test="param1 !=null and param1.ratings != null">
				and ratings = #{param1.ratings}
			</if>
			<if test="param1 !=null and param1.entityTable != null">
				and entity_table = #{param1.entityTable}
			</if>
			<if test="param1 !=null and param1.entityId != null">
				and entity_id = #{param1.entityId}
			</if>
			<if test="param1 !=null and param1.state != null">
				and state = #{param1.state}
			</if>
			<if test="param1 !=null and param1.clickOk != null">
				and click_ok = #{param1.clickOk}
			</if>
			<if test="param1 !=null and param1.clickMiddle != null">
				and click_middle = #{param1.clickMiddle}
			</if>
			<if test="param1 !=null and param1.clickBad != null">
				and click_bad = #{param1.clickBad}
			</if>
			<if test="param1 !=null and param1.viewCount != null">
				and view_count = #{param1.viewCount}
			</if>
			<if test="param1 !=null and param1.todayViewCount != null">
				and today_view_count = #{param1.todayViewCount}
			</if>
			<if test="param1 !=null and param1.todaySell != null">
				and today_sell = #{param1.todaySell}
			</if>
			<if test="param1 !=null and param1.allsell != null">
				and allsell = #{param1.allsell}
			</if>
			<if test="param1 !=null and param1.todyBorrow != null">
				and tody_borrow = #{param1.todyBorrow}
			</if>
			<if test="param1 !=null and param1.allBorrow != null">
				and all_borrow = #{param1.allBorrow}
			</if>
			<if test="param1 !=null and param1.allCare != null">
				and all_care = #{param1.allCare}
			</if>
			<if test="param1 !=null and param1.entryFolder != null">
				and entry_folder = #{param1.entryFolder}
			</if>
		</where>
		order by #{1}
		limit #{2},#{3}
	</select>



	<!-- 删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		trade_goods
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.bewweb.entities.Goods">
		insert into trade_goods
		(goods_id, shop_id, goods_name,
		a_word_intro, key_words, goods_label,
		in_stock, copy_for_borrow, original_price,
		income_price, price,
		discount,
		in_sell_day, category, goods_class,
		ratings, entity_table,
		entity_id,
		state, click_ok, click_middle,
		click_bad, view_count,
		today_view_count,
		today_sell, allsell, tody_borrow,
		all_borrow,
		all_care,
		entry_folder)
		values (#{goodsId,jdbcType=BIGINT},
		#{shopId,jdbcType=BIGINT},
		#{goodsName,jdbcType=VARCHAR},
		#{aWordIntro,jdbcType=VARCHAR}, #{keyWords,jdbcType=VARCHAR},
		#{goodsLabel,jdbcType=VARCHAR},
		#{inStock,jdbcType=INTEGER},
		#{copyForBorrow,jdbcType=INTEGER},
		#{originalPrice,jdbcType=DECIMAL},
		#{incomePrice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL},
		#{discount,jdbcType=DECIMAL},
		#{inSellDay,jdbcType=DATE},
		#{category,jdbcType=CHAR},
		#{goodsClass,jdbcType=CHAR},
		#{ratings,jdbcType=INTEGER}, #{entityTable,jdbcType=VARCHAR},
		#{entityId,jdbcType=DECIMAL},
		#{state,jdbcType=CHAR},
		#{clickOk,jdbcType=INTEGER},
		#{clickMiddle,jdbcType=INTEGER},
		#{clickBad,jdbcType=INTEGER}, #{viewCount,jdbcType=BIGINT},
		#{todayViewCount,jdbcType=INTEGER},
		#{todaySell,jdbcType=INTEGER},
		#{allsell,jdbcType=BIGINT},
		#{todyBorrow,jdbcType=INTEGER},
		#{allBorrow,jdbcType=BIGINT}, #{allCare,jdbcType=BIGINT},
		#{entryFolder,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.bewweb.entities.Goods">
		insert into trade_goods
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="goodsId != null">
				goods_id,
			</if>
			<if test="shopId != null">
				shop_id,
			</if>
			<if test="goodsName != null">
				goods_name,
			</if>
			<if test="aWordIntro != null">
				a_word_intro,
			</if>
			<if test="keyWords != null">
				key_words,
			</if>
			<if test="goodsLabel != null">
				goods_label,
			</if>
			<if test="inStock != null">
				in_stock,
			</if>
			<if test="copyForBorrow != null">
				copy_for_borrow,
			</if>
			<if test="originalPrice != null">
				original_price,
			</if>
			<if test="incomePrice != null">
				income_price,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="discount != null">
				discount,
			</if>
			<if test="inSellDay != null">
				in_sell_day,
			</if>
			<if test="category != null">
				category,
			</if>
			<if test="goodsClass != null">
				goods_class,
			</if>
			<if test="ratings != null">
				ratings,
			</if>
			<if test="entityTable != null">
				entity_table,
			</if>
			<if test="entityId != null">
				entity_id,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="clickOk != null">
				click_ok,
			</if>
			<if test="clickMiddle != null">
				click_middle,
			</if>
			<if test="clickBad != null">
				click_bad,
			</if>
			<if test="viewCount != null">
				view_count,
			</if>
			<if test="todayViewCount != null">
				today_view_count,
			</if>
			<if test="todaySell != null">
				today_sell,
			</if>
			<if test="allsell != null">
				allsell,
			</if>
			<if test="todyBorrow != null">
				tody_borrow,
			</if>
			<if test="allBorrow != null">
				all_borrow,
			</if>
			<if test="allCare != null">
				all_care,
			</if>
			<if test="entryFolder != null">
				entry_folder,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="goodsId != null">
				#{goodsId,jdbcType=BIGINT},
			</if>
			<if test="shopId != null">
				#{shopId,jdbcType=BIGINT},
			</if>
			<if test="goodsName != null">
				#{goodsName,jdbcType=VARCHAR},
			</if>
			<if test="aWordIntro != null">
				#{aWordIntro,jdbcType=VARCHAR},
			</if>
			<if test="keyWords != null">
				#{keyWords,jdbcType=VARCHAR},
			</if>
			<if test="goodsLabel != null">
				#{goodsLabel,jdbcType=VARCHAR},
			</if>
			<if test="inStock != null">
				#{inStock,jdbcType=INTEGER},
			</if>
			<if test="copyForBorrow != null">
				#{copyForBorrow,jdbcType=INTEGER},
			</if>
			<if test="originalPrice != null">
				#{originalPrice,jdbcType=DECIMAL},
			</if>
			<if test="incomePrice != null">
				#{incomePrice,jdbcType=DECIMAL},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="discount != null">
				#{discount,jdbcType=DECIMAL},
			</if>
			<if test="inSellDay != null">
				#{inSellDay,jdbcType=DATE},
			</if>
			<if test="category != null">
				#{category,jdbcType=CHAR},
			</if>
			<if test="goodsClass != null">
				#{goodsClass,jdbcType=CHAR},
			</if>
			<if test="ratings != null">
				#{ratings,jdbcType=INTEGER},
			</if>
			<if test="entityTable != null">
				#{entityTable,jdbcType=VARCHAR},
			</if>
			<if test="entityId != null">
				#{entityId,jdbcType=DECIMAL},
			</if>
			<if test="state != null">
				#{state,jdbcType=CHAR},
			</if>
			<if test="clickOk != null">
				#{clickOk,jdbcType=INTEGER},
			</if>
			<if test="clickMiddle != null">
				#{clickMiddle,jdbcType=INTEGER},
			</if>
			<if test="clickBad != null">
				#{clickBad,jdbcType=INTEGER},
			</if>
			<if test="viewCount != null">
				#{viewCount,jdbcType=BIGINT},
			</if>
			<if test="todayViewCount != null">
				#{todayViewCount,jdbcType=INTEGER},
			</if>
			<if test="todaySell != null">
				#{todaySell,jdbcType=INTEGER},
			</if>
			<if test="allsell != null">
				#{allsell,jdbcType=BIGINT},
			</if>
			<if test="todyBorrow != null">
				#{todyBorrow,jdbcType=INTEGER},
			</if>
			<if test="allBorrow != null">
				#{allBorrow,jdbcType=BIGINT},
			</if>
			<if test="allCare != null">
				#{allCare,jdbcType=BIGINT},
			</if>
			<if test="entryFolder != null">
				#{entryFolder,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.bewweb.entities.Goods">
		update trade_goods
		<set>
			<if test="shopId != null">
				shop_id = #{shopId,jdbcType=BIGINT},
			</if>
			<if test="goodsName != null">
				goods_name = #{goodsName,jdbcType=VARCHAR},
			</if>
			<if test="aWordIntro != null">
				a_word_intro = #{aWordIntro,jdbcType=VARCHAR},
			</if>
			<if test="keyWords != null">
				key_words = #{keyWords,jdbcType=VARCHAR},
			</if>
			<if test="goodsLabel != null">
				goods_label = #{goodsLabel,jdbcType=VARCHAR},
			</if>
			<if test="inStock != null">
				in_stock = #{inStock,jdbcType=INTEGER},
			</if>
			<if test="copyForBorrow != null">
				copy_for_borrow = #{copyForBorrow,jdbcType=INTEGER},
			</if>
			<if test="originalPrice != null">
				original_price = #{originalPrice,jdbcType=DECIMAL},
			</if>
			<if test="incomePrice != null">
				income_price = #{incomePrice,jdbcType=DECIMAL},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DECIMAL},
			</if>
			<if test="discount != null">
				discount = #{discount,jdbcType=DECIMAL},
			</if>
			<if test="inSellDay != null">
				in_sell_day = #{inSellDay,jdbcType=DATE},
			</if>
			<if test="category != null">
				category = #{category,jdbcType=CHAR},
			</if>
			<if test="goodsClass != null">
				goods_class = #{goodsClass,jdbcType=CHAR},
			</if>
			<if test="ratings != null">
				ratings = #{ratings,jdbcType=INTEGER},
			</if>
			<if test="entityTable != null">
				entity_table = #{entityTable,jdbcType=VARCHAR},
			</if>
			<if test="entityId != null">
				entity_id = #{entityId,jdbcType=DECIMAL},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=CHAR},
			</if>
			<if test="clickOk != null">
				click_ok = #{clickOk,jdbcType=INTEGER},
			</if>
			<if test="clickMiddle != null">
				click_middle = #{clickMiddle,jdbcType=INTEGER},
			</if>
			<if test="clickBad != null">
				click_bad = #{clickBad,jdbcType=INTEGER},
			</if>
			<if test="viewCount != null">
				view_count = #{viewCount,jdbcType=BIGINT},
			</if>
			<if test="todayViewCount != null">
				today_view_count = #{todayViewCount,jdbcType=INTEGER},
			</if>
			<if test="todaySell != null">
				today_sell = #{todaySell,jdbcType=INTEGER},
			</if>
			<if test="allsell != null">
				allsell = #{allsell,jdbcType=BIGINT},
			</if>
			<if test="todyBorrow != null">
				tody_borrow = #{todyBorrow,jdbcType=INTEGER},
			</if>
			<if test="allBorrow != null">
				all_borrow = #{allBorrow,jdbcType=BIGINT},
			</if>
			<if test="allCare != null">
				all_care = #{allCare,jdbcType=BIGINT},
			</if>
			<if test="entryFolder != null">
				entry_folder = #{entryFolder,jdbcType=VARCHAR},
			</if>
		</set>
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.bewweb.entities.Goods">
		update trade_goods
		set shop_id = #{shopId,jdbcType=BIGINT},
		goods_name =
		#{goodsName,jdbcType=VARCHAR},
		a_word_intro =
		#{aWordIntro,jdbcType=VARCHAR},
		key_words =
		#{keyWords,jdbcType=VARCHAR},
		goods_label =
		#{goodsLabel,jdbcType=VARCHAR},
		in_stock = #{inStock,jdbcType=INTEGER},
		copy_for_borrow = #{copyForBorrow,jdbcType=INTEGER},
		original_price =
		#{originalPrice,jdbcType=DECIMAL},
		income_price =
		#{incomePrice,jdbcType=DECIMAL},
		price = #{price,jdbcType=DECIMAL},
		discount = #{discount,jdbcType=DECIMAL},
		in_sell_day =
		#{inSellDay,jdbcType=DATE},
		category = #{category,jdbcType=CHAR},
		goods_class = #{goodsClass,jdbcType=CHAR},
		ratings =
		#{ratings,jdbcType=INTEGER},
		entity_table =
		#{entityTable,jdbcType=VARCHAR},
		entity_id =
		#{entityId,jdbcType=DECIMAL},
		state = #{state,jdbcType=CHAR},
		click_ok =
		#{clickOk,jdbcType=INTEGER},
		click_middle =
		#{clickMiddle,jdbcType=INTEGER},
		click_bad =
		#{clickBad,jdbcType=INTEGER},
		view_count =
		#{viewCount,jdbcType=BIGINT},
		today_view_count =
		#{todayViewCount,jdbcType=INTEGER},
		today_sell =
		#{todaySell,jdbcType=INTEGER},
		allsell = #{allsell,jdbcType=BIGINT},
		tody_borrow = #{todyBorrow,jdbcType=INTEGER},
		all_borrow =
		#{allBorrow,jdbcType=BIGINT},
		all_care = #{allCare,jdbcType=BIGINT}
		entry_folder = #{entryFolder,jdbcType=VARCHAR}
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</update>
</mapper>