<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bewweb.dao.MyCareMapper" >
  <resultMap id="BaseResultMap" type="cn.bewweb.entities.MyCare" >
    <id column="care_id" property="careId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="care_for_id" property="careForId" jdbcType="BIGINT" />
    <result column="care_type" property="careType" jdbcType="CHAR" />
    <result column="priceNotice" property="pricenotice" jdbcType="DECIMAL" />
    <result column="care_time" property="careTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    care_id, user_id, care_for_id, care_type, priceNotice, care_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from trade_mycare
    where care_id = #{careId,jdbcType=BIGINT}
  </select>
  
  
  <select id="selectCareForIdByCareForId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    care_id, user_id, care_for_id   
    from trade_mycare 
    where care_for_id = #{careForId,jdbcType=BIGINT}
  </select>
  
   <select id="find" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from trade_mycare 
    <where>
    	<if test="param1!=null and param1.careId != null" >
        care_id = #{param1.careId} 
      </if>
      <if test="param1!=null and param1.userId != null" >
        and user_id = #{param1.userId} 
      </if>
      <if test="param1!=null and param1.careForId != null" >
         and care_for_id = #{param1.careForId} 
      </if>
      <if test="param1!=null and param1.careType != null" >
        and  care_type = #{param1.careType} 
      </if>
      <if test="param1!=null and param1.pricenotice != null" >
         and priceNotice = #{param1.pricenotice} 
      </if>
      <if test="param1!=null and param1.careTime != null" >
        and  care_time = #{param1.careTime}  
      </if>
    </where>
    limit #{1},#{2} 
  </select>
  
  <select id="findAndeOrderBy" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from trade_mycare 
    <where>
    	<if test="param1!=null and param1.careId != null" >
        care_id = #{param1.careId},
      </if>
      <if test="param1!=null and param1.userId != null" >
        and user_id = #{param1.userId},
      </if>
      <if test="param1!=null and param1.careForId != null" >
         and care_for_id = #{param1.careForId},
      </if>
      <if test="param1!=null and param1.careType != null" >
        and  care_type = #{param1.careType},
      </if>
      <if test="param1!=null and param1.pricenotice != null" >
         and priceNotice = #{param1.pricenotice},
      </if>
      <if test="param1!=null and param1.careTime != null" >
        and  care_time = #{param1.careTime},
      </if>
    </where>
    order by #{1} 
    limit #21},#{3} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from trade_mycare
    where care_id = #{careId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.bewweb.entities.MyCare" >
    insert into trade_mycare (care_id, user_id, care_for_id, 
      care_type, priceNotice, care_time
      )
    values (#{careId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{careForId,jdbcType=BIGINT}, 
      #{careType,jdbcType=CHAR}, #{pricenotice,jdbcType=DECIMAL}, #{careTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.bewweb.entities.MyCare" >
    insert into trade_mycare
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="careId != null" >
        care_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="careForId != null" >
        care_for_id,
      </if>
      <if test="careType != null" >
        care_type,
      </if>
      <if test="pricenotice != null" >
        priceNotice,
      </if>
      <if test="careTime != null" >
        care_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="careId != null" >
        #{careId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="careForId != null" >
        #{careForId,jdbcType=BIGINT},
      </if>
      <if test="careType != null" >
        #{careType,jdbcType=CHAR},
      </if>
      <if test="pricenotice != null" >
        #{pricenotice,jdbcType=DECIMAL},
      </if>
      <if test="careTime != null" >
        #{careTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bewweb.entities.MyCare" >
    update trade_mycare
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="careForId != null" >
        care_for_id = #{careForId,jdbcType=BIGINT},
      </if>
      <if test="careType != null" >
        care_type = #{careType,jdbcType=CHAR},
      </if>
      <if test="pricenotice != null" >
        priceNotice = #{pricenotice,jdbcType=DECIMAL},
      </if>
      <if test="careTime != null" >
        care_time = #{careTime,jdbcType=DATE},
      </if>
    </set>
    where care_id = #{careId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bewweb.entities.MyCare" >
    update trade_mycare
    set user_id = #{userId,jdbcType=BIGINT},
      care_for_id = #{careForId,jdbcType=BIGINT},
      care_type = #{careType,jdbcType=CHAR},
      priceNotice = #{pricenotice,jdbcType=DECIMAL},
      care_time = #{careTime,jdbcType=DATE}
    where care_id = #{careId,jdbcType=BIGINT}
  </update>
</mapper>